@import 'fonts.css';
@import '~flatpickr/dist/themes/light.css';

$background-color: #4D4D4D;
$border-color: #6D6D6D;
$hover-bg-color: #7D7D7D;

body {
    margin: 0px;
    background-color: $background-color;
}

.popupContainer {
    background-color: $background-color;
}

.button-grid {
	transition: 0.4s;
	transform-style: preserve-3d;
  width: 300px;
  height: 300px;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.front {
	z-index: 2;
}

.back {
	transform: rotateY(180deg);
}

.snooze-button {
  border: none;
  outline: 1px solid $border-color;
  background-color: $background-color;
  transition: background-color 0.5s;

  .icon {
    margin: auto;
    width: 48px;
    height: 48px;
    img {
      width: 48px;
      height: 48px;
    }
  }

  .label {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    min-height: 14px;
    color: #FFFFFF;
  }

  &:hover {
    background-color: $hover-bg-color;
    transition: background-color 0.5s;
  }
}

.dual {
  a .bg {
    transition: fill 0.5s;
    fill: $background-color
  }

  a {
    cursor: default;

    &:hover .bg {
      fill: $hover-bg-color;
      transition: fill 0.5s;
    }
  }
}

.tab-list {
  overflow-y: auto;
	height: 238px;
  transition: max-height 0.5s;


  &.hidden {
    max-height: 0;
  }
}

.tab-list-expand {
  height: 17px;
  overflow: hidden;
  background-color: $background-color;
  transition: background-color 0.5s;

  .arrow {
    display: block;
    margin: -9px auto;
    height: 32px;
    &.visible {
      transform: rotate(180deg);
      margin: -6px auto;
    }
  }

  &:hover {
    background-color: $hover-bg-color;
    transition: background-color 0.5s;
  }
}

.category-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin: 10px 7px 0;
}

.tab-item {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 10px;
  transition: background-color 0.5s;

  &:hover {
    background-color: $hover-bg-color;
    transition: background-color 0.5s;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: top;
  }

  .tab-label {
    display: inline-block;
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tab-name {
    display: inline;
  }

  .tab-date {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    margin: 0;
  }

  .delete-button {
    float: right;
    margin: 0 10px;
    position: relative;
    top: -32px;
    margin-bottom: -32px;

    &:hover {
      svg {
        path {
          fill: $hover-bg-color;
        }
        circle {
          fill: white;
          fill-opacity: 1;
        }
      }
    }
  }
}

.custom-snooze {
  color: white;
  text-align: center;
  padding-bottom: 20px;

  h2 {
    margin: 5px auto;
  }

  .calendar {
    margin: 10px;

    .flatpickr-time {
      height: 43px;
    }

    .flatpickr-input {
      display: none;
    }
  }

  $dayWidth: 38px; /*pixel square for each day - default is 39 */
  $width: $dayWidth * 7;
  .flatpickr-calendar {
    width: $width;
    margin: auto;
  }
  .dayContainer {
    width: $width;
    min-width: $width;
    max-width: $width;
    padding: 5px;
  }
  .flatpickr-days {
    width: $width;
  }
  .flatpickr-day {
    max-width: $dayWidth;
    height: $dayWidth;
    line-height: $dayWidth;
  }

  svg {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
  }

  button {
    border: none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 13px;
    border-radius: 10px;
    cursor: pointer;
  }
  #cancel-button {
    background-color: #ff5a5f;
  }

  #snooze-button {
    background-color: #42a5f5;
  }
}

#button-editor {
  width: 300px;
  height: 175px;

  .icon-preview {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: #2C2C2C;
    margin: 16px;
    margin-right: 8px;
    img {
      width: 48px;
      height: 48px;
      margin: 8px;
    }
  }

  .save-button {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
  }

  .test {
    display: flex;
  }

  .snooze-label-edit {
    margin-top: 38px;
    height: 38px;
    background: transparent;
    border-style: none none solid none;
    border-width: 1.5px;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
  }
  ::placeholder {
    color: white;
    opacity: 0.5;
  }
}

.radio-section {
  display: flex;
  margin-bottom: 15px;

  input {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 1.5px solid #1d1d1d;
    border-radius: 50%;
    outline: none;
    margin: auto 30px;
  }
  input:before {
    content:'';
    display: block;
    width: 61%;
    height: 61%;
    margin: 20% 20%;
    border-radius: 50%;
  }
  input:checked:before {
    background-color: #2196F3;
  }

  input:checked {
    border-color: #2196F3;
  }

  #interval-unit-select {
    width: 92px;
  }

  select {
    background: transparent;
    color: white;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 16px;
    border-style: none none solid none;
    border-width: 1px;
    height: 32px;
    margin-right: 20px;
  }
}
