@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

$background-color: #4D4D4D;
$border-color: #6D6D6D;
$hover-bg-color: #7D7D7D;

body {
    margin: 0px;
    min-width: 300px;
    min-height: 300px;
    background-color: $background-color;
}

.popupContainer {
    background-color: $background-color;
}

.button-grid {
	transition: 0.4s;
	transform-style: preserve-3d;
  width: 300px;
  height: 300px;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.front {
	z-index: 2;
}

.back {
	transform: rotateY(180deg);
}

.snooze-button {
  border: none;
  outline: 1px solid $border-color;
  background-color: $background-color;
  transition: background-color 0.5s;

  .icon {
    margin: auto;
    width: 48px;
    height: 48px;
  }

  .label {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    min-height: 14px;
    color: #FFFFFF;
  }

  &:hover {
    background-color: $hover-bg-color;
    transition: background-color 0.5s;
  }
}

.dual {
  a .bg {
    transition: fill 0.5s;
    fill: $background-color
  }

  a {
    cursor: default;

    &:hover .bg {
      fill: $hover-bg-color;
      transition: fill 0.5s;
    }
  }
}

.tab-list {
  overflow-y: auto;
	max-height: 283px;
  transition: max-height 0.5s;


  &.hidden {
    max-height: 0;
  }
}

.tab-list-expand {
  height: 17px;
  overflow: hidden;
  background-color: $background-color;
  transition: background-color 0.5s;

  .arrow {
    display: block;
    margin: -9px auto;
    height: 32px;
    &.visible {
      transform: rotate(180deg);
      margin: -6px auto;
    }
  }

  &:hover {
    background-color: $hover-bg-color;
    transition: background-color 0.5s;
  }
}

.category-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin: 10px 7px 0;
}

.tab-item {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 10px;
  transition: background-color 0.5s;

  &:hover {
    background-color: $hover-bg-color;
    transition: background-color 0.5s;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: top;
  }

  .tab-label {
    display: inline-block;
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tab-name {
    display: inline;
  }

  .tab-date {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    margin: 0;
  }

  .delete-button {
    float: right;
    margin: 0 10px;
    position: relative;
    top: -32px;
    margin-bottom: -32px;

    &:hover {
      svg {
        path {
          fill: $hover-bg-color;
        }
        circle {
          fill: white;
          fill-opacity: 1;
        }
      }
    }
  }
}
