@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

$primary-color: darkblue;
$background-color: #4D4D4D;
$border-color: #6D6D6D;
$hover-bg-color: #7D7D7D;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.popupContainer {
    background-color: $background-color;
    color: $primary-color;
    display: block;
}

.button-grid {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.tab-list {
  height: 17px;
  overflow: hidden;
  background-color: $background-color;
  transition: background-color 0.5s;

  .arrow {
    display: block;
    margin: -9px auto;
    height: 32px;
  }

  &:hover {
    background-color: $hover-bg-color;
    transition: background-color 0.5s;
  }
}

.snooze-button {
  border: none;
  outline: 1px solid $border-color;
  background-color: $background-color;
  transition: background-color 0.5s;

  .icon {
    margin: auto;
  }

  .label {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size: 12px;
    text-align: center;
    min-height: 14px;
    color: #FFFFFF;
  }

  &:hover {
    background-color: $hover-bg-color;
    transition: background-color 0.5s;
  }
}

.dual-button {
  outline: 1px solid $border-color;

  a .bg {
    transition: fill 0.5s;
    fill: $background-color
  }

  a:hover .bg {
    fill: $hover-bg-color;
    transition: fill 0.5s;
  }
}
